/bin/
/pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

/tmp/
/main

/vendor/

go.work

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

*.log

/build/
