<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/assets/css/app.css">
  <script src="/assets/js/app.js"></script>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>

<body>
  <nav>
    <a href="/">Freelanging Rate Calculator</a>
    <!-- TODO Logged In or Signin / Signup-->
  </nav>
  <header>
    {{block "header" .}}{{end}}
  </header>
  <main>
    {{block "content" .}}{{end}}
  </main>
  <sidebar>
    {{block "sidebar" .}}{{end}}
  </sidebar>
</body>

</html>